<h1>Welcome landing page</h1>
<ul>
  <li><%= link_to "Signup", new_user_path %> </li>
  <li><%= link_to("Login", new_session_path) %></li>
  <li>login with soundcloud</li>
  <li>intro video</li>
</ul>
