<div class="row">
  <div class="small-4 columns panel">
    <h4>1. Submit your stems</h4>
  </div>
  <div class="small-4 columns panel">
    <h4>2. Remix another track</h4>
  </div>
  <div class="small-4 columns panel">
    <h4>3. Share the love</h4>
  </div>
</div>

<div class="row panel">
  <div class="small-6 columns text-center">
    <a href="#" class="button">Create Circle</a>
  </div>
  <div class="small-6 columns text-center">
    <a href="#" class="button">Join Circle</a>
  </div>
</div>

<div class="row panel">
  Cool Intro Video / Featured Circles
</div>
