<ul class="side-nav">
<li><h1>Dashboard</h1></li>
<h3>[Username]</h3>
    <li>Start New Mixup</li>
    <li>Submit Remix</li>
    <li>Download </li>
  <h3>Browse Mixups</h3>
    <li>Join Now</li>
    <li>In Progress</li>
    <li>Finished</li>
  </ul>
  <h3>Browse Remixes</h3>
  <h3>Browse Profiles</h3>
</ul>es</h3>
  <h3>Browse Profiles</h3>
</li>
