<div class="off-canvas-wrap" data-offcanvas>
  <main class="inner-wrap">

    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Mixup</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li><a href="#">Messages</a></li>
          <li><a href="#">Logout</a></li>
        </ul>

        <ul class="left">
          <li><a href="#" class="left-off-canvas-toggle menu-icon">Menu</a></li>
          <li><a href="#">Dashboard</a></li>
        </ul>
      </section>
    </nav>

    <aside id="user-menu" class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>User Menu</label></li>
        <li><a href="#">Account</a></li>
        <li><a href="#">Create Circle</a></li>
        <li><a href="#">Upload Stems</a></li>
        <li><a href="#">Upload Remix</a></li>
      </ul>
    </aside>

    <div class="current-container">
      <%= render :partial => "circles/index" %>
    </div>

    <a class="exit-off-canvas"></a>

  </main>
</div>
