<h3>Edit Profile</h3>
<%= render :partial => "form" %>
<h3>Delete Profile?</h3>
<%= simple_form_for @current_user, :html => { :method => :delete } do |f| %>
  <%= f.button :submit, "Delete me forever!", disable_with: 'Nooo....avenge meee....', data: { confirm: "Are you sure?" } %>
<% end %>
