// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tagline {
  padding-left: 1rem;
}

.login-box {
  margin-top: 0.75rem;
  p {
    margin-bottom: 0;
  }
}

/* Styles for signup panels */
.auth-plain {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}

.left-solid {
margin-top: 0px;
margin-bottom: 0px;
}

.signup-panel {
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: #fff;
}

.signup-panel i {
  font-size: 30px;
  color: #999;
}

.signup-panel .welcome {
  font-size: 26px;
  text-align: center;
  margin-left: 0;
}
.signup-panel p {
  font-size: 13px;
  font-weight: 200;
  text-align: center;
}
.signup-panel .newbie {
  margin-left: 37.4%;
}

.forgotten-password {
  padding-right: 1em;
}

.newusers {
  background: #fff;
}
